/* style.css */

/* Animación de keyframes para el gradiente */
@keyframes gradient-border {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Aplica la animación al contenedor del perfil */
.animate-gradient-border {
    /* Define el tamaño del gradiente para que la animación sea visible */
    background-size: 200% 200%; 
    /* Aplica la animación: nombre, duración, repetición infinita */
    animation: gradient-border 4s ease infinite;
}
